body {
  margin: 0;
  padding: 0;
  text-align: center;

  background: linear-gradient(0deg, darkviolet, #271782, #12003a);
  background-size: 180% 180%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  margin-top: 3rem;
}
